extends layout

block content
  h1= title
  p Welcome to VHL Gift API, please find below available features
  li: a(href="/players", target="_blank",) List of players 
  li: a(href="/gift", target="_blank") Send gift
